*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

.flex{ display: flex;}

.flex-item{ width: 50%; }

h2{text-align: center;}

.header-title{background-color: #bcbcec; padding:10px; }


.container{
    width: 80%;
    background-color: rgb(216, 231, 231);
    margin: 15px auto;
}

.scritp-php{
    background-color:#fff;
    padding:30px;
    font-size: 20px;
    border: 3px solid rgb(216, 231, 231);
    border-left: none;
}

form{text-align: left; padding:30px;}

.group-input{ display: grid; padding:5px; }

input{
    padding:5px;
    outline: none;
    margin:4px 0;
    background: transparent;
    border: 2px solid #767676;
}

input[type=submit]{
    padding:8px;
    /*background-color: rgb(161, 161, 199);*/
    background-color: #bcbcec;
    outline: none;
    border: none;
}

ul{list-style: none; }
ul li{ margin:20px; }


@media (max-width: 750px) {
    .flex-md{ flex-direction: column; }
    .flex-item{ width: 100%; }
}

@media (max-width: 430px) {
    .container{ width: 100%; margin: 20px auto; }
    form{padding:10px;}
}


